/* header {
  width:100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.navigation{
  width: 100px;
  height: 100%;
  display: block;
  padding-right: 40px;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  background: white;
  border-radius: 0% 50% 350% 0%;
  perspective: 800;
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}
.navigation_icon{
  width: 55px;
  height: 44px;
  display: block;
  position: relative;
  top: 22%;
  left: 35%;
  cursor: pointer;
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}
.navigation_icon .topbar{
  width: 55px;
  height: 3px;
  display: block;
  background: #fc0363;
  position: absolute;
  top: 10px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}
.navigation_icon .middlebar{
  width: 55px;
  height: 3px;
  display: block;
  background: #fc0363;
  position: absolute;
  top: 20px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}
.navigation_icon .bottombar{
  width: 35px;
  height: 3px;
  display: block;
  background: #fc0363;
  position: absolute;
  top: 30px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9,0,.33,1);
}
.navigation .navigation_ul{
  float: right;
  margin-top: 220px;
  right:10%;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(-90deg) translateX(-300px);
  transform: translateY(-100%);
  /* transition: all 1000ms; */
}
.navigation .navigation_ul li{
  list-style: none;
  text-align: right;
}
.navigation .navigation_ul a{
  display: block;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.navigation .navigation_ul a:hover{
  color:hsl(185,96%,33%);
}
.navigation-open{
  width: 350px;
  height: 100%;
  display: block;
  background: white;
  position: fixed;
  left: 0;
  border-radius: 0% 1% 1% 0%;
}
.navigation-open .navigation_icon{
  left: 80%;
}
.navigation-open .navigation_ul{
  opacity: 1;
  visibility: visible;
}
.navigation-open .topbar{
  top:21px;
  transform: rotate(45deg);
}
.navigation-open .middlebar{
  width: 0;
  top:22px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}
.navigation-open .bottombar{
  width: 55px;
  top:21px;
  transform: rotate(-45deg);
}
.navigation-open .navigation_ul{
  transform: rotateY(0) translateX(0);
}
@media screen and (max-width: 500px) {

  .header{
    width:100%;
    height: 90px;
    /* background-size: cover; */
    position: fixed;
    float: right;
  }
  .navigation{
    width:100%;
    height: 90px;
    display: block;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    background: white;
    perspective: 800;
border-radius: 0% 0% 0% 0%;
transition: all 800ms cubic-bezier(0,.9,.5,.33);
  }

  .navigation .navigation_ul{
    float: right;
    margin-top: 220px;
    margin-right: 30px;
    opacity: 0;
    visibility: hidden;
  }
  .navigation .navigation_ul li{
    list-style: none;
    text-align: right;
  }
  .navigation .navigation_ul a{
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
  }
  .navigation_icon{
    width: 55px;
    height: 44px;
    display: flex;
    top: 0;
    padding: 0;
    position: relative;

    cursor: pointer;
    align-items:center;
    top: 22%;
    left: 80%;
    transition: all 800ms cubic-bezier(0,.9,1,.33);
  }
  .navigation_icon .topbar{
    width: 55px;
    height: 3px;
    display: block;
    background: #fc0363;
    position: absolute;
    top: 10px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(0,.9,1,.33);
  }
  .navigation_icon .middlebar{
    width: 55px;
    height: 3px;
    display: block;
    background: #fc0363;
    position: absolute;
    top: 20px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(0,.9,1,.33);
  }
  .navigation_icon .bottombar{
    width: 35px;
    height: 3px;
    display: block;
    background: #fc0363;
    position: absolute;
    top: 30px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(0,.9,1,.33);
  }
   .navigation-open{
    width: 100%;
    height: 450px;
    display: block;
    background: white;
    position: fixed;
    top: 0;
  }


  .navigation-open .topbar{
    top:21px;
    transform: rotate(45deg);
  }
  .navigation-open .middlebar{
    width: 0;
    top:22px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
  }
  .navigation-open .bottombar{
    width: 55px;
    top:21px;
    transform: rotate(-45deg);
  }
  .navigation-open .navigation_ul{
    margin-top:25%;
    padding:0;
    width:100%;
    top: 0;
    float: right;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
transition: all 1000ms cubic-bezier(.51,.35,.34,.86);
  }

}
