
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
html, body{
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}
#title {
  position: absolute;
  width: 50%;
  height: 190px;
  left: 30%;
  top: 117px;
  font-size: 98px;
  letter-spacing: -1.5px;
}
#under-title{
  position: absolute;
  width: 65%;
  height: 25%;
  left: 30.5%;
  top: 350px;
  font-size: 49px;
}
#contact {
  position: absolute;
  width: 65%;
  height: 25%;
  left: 30.5%;
  top: 490px;
  font-size: 49px;
}
#home{
  width:100%;
  height: 700px;
}
.icons {
  position: absolute;
  width:50%;
  height: 80px;
  left: 30.5%;
  top: 620px;
}
.fab, .far{
  width:82.53px;
  height:78px;
  padding-left: 30px;
  padding-right:70px;
  font-size: 50px;
}

#aboutme{
  width:100%;
  height:500px;
}
.aboutme{
  position: absolute;
  width: 65%;
  height: 25%;
  left: 30.5%;
}
#technology{
  width:100%;
  height:500px;
  background: blue;
}
#projects{
  width:100%;
  height:500px;
  background: yellow;
}
/* #under-title{
  position: absolute;
  width: 50%;
  height: 25%;
  left: 30%;
  top: 327px;
  font-size: 49px;
} */
/* #contact {
  position: absolute;
  width: 310px;
  height: 41px;
  left: 32px;
  top: 259px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;
} */
/* #profile-foto{
  position: absolute;
left: 0%;
right: 52.19%;
top: 0%;
bottom: 0%;
width: 164px;
height: 361px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/* #name{
  font-size: 24px;
line-height: 28px;
position: absolute;
left: 52.77%;
right: 12.83%;
top: 8.03%;
bottom: 84.21%;
} */
/* #job{
  position: absolute;
left: 52.77%;
right: 10.5%;
top: 27.42%;
bottom: 63.99%;
font-weight: 500;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.15px;
} */
/* #dialog{
  position: absolute;
left: 52.77%;
right: 0%;
top: 39.06%;
bottom: 2.77%;
font-weight: 500;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.15px;
} */
/* #tech{
  position: absolute;
width: 195px;
height: 39px;
left: 16px;
top: 762px;


font-size: 35px;
line-height: 40px;
letter-spacing: 0.25px;
} */
/* #web{
  position: absolute;
left: 15.74%;
right: 67.64%;
top: 27.85%;
bottom: 64.4%;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #ffffff;
} */
/* #android{
color: #ffffff;
/* position: absolute;
width: 92px;
height: 29px;
left: 216px;
top: 34px;
font-weight: 500;
font-size: 24px;
line-height: 28px;
} */
/* #java{
color: #ffffff;
width: 58px;
height: 33px;
left: 233px;
top: 142px;
font-weight: 500;
font-size: 24px;
line-height: 28px;

} */
/* #hardware{
color: #ffffff;
width: 112px;
height: 27px;
left: 115px;
top: 251px;

font-weight: 500;
font-size: 24px;
line-height: 28px;
} */
/* #projects{
  position: absolute;
left: 0.58%;
right: 42.4%;
top: 0%;
bottom: 94.34%;
font-size: 35px;
line-height: 40px;
letter-spacing: 0.25px;
} */
/* #first{
  position: absolute;
left: 0%;
right: 0%;
top: 7.69%;
bottom: 71.41%;
background: url(.jpg), #0F0F0F;
} */
/* #second{
  position: absolute;
left: 0%;
right: 0%;
top: 31.49%;
bottom: 47.61%;

background: url(.jpg), #909090;
} */
/* #third{
  position: absolute;
left: 0%;
right: 0%;
top: 55.3%;
bottom: 23.8%;

background: url(.jpg), #525252;
} */
/* #forth{
  position: absolute;
left: 0%;
right: 0%;
top: 79.1%;
bottom: 0%;

background: url(.jpg), #D0D0D0;
} */
/* .projects{
  position: absolute;
width: 342px;
height: 689px;
left: 17px;
top: 1144px;
} */
/* .hardware{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 67.31%;
  bottom: 0%;
background: #d35400;
} */
/* .java{
  position: absolute;
  width: 163px;
  height: 96.29px;
  left: 180px;
  top: 103.29px;
  background: #8e44ad;
} */
/* .android{
  position: absolute;
  width: 163px;
  height: 96.29px;
  left: 180px;
  top: 0px;
  background: #2c3e50;
} */
/* .web{
  position: absolute;
  left: 0%;
  right: 52.19%;
  top: 0%;
  bottom: 36.84%;
background: #3498db;
} */
/* .technology{
  position: absolute;
width: 343px;
height: 316px;
left: 16px;
top: 808px;
} */
/* .profile{
  position: absolute;
left: 0%;
right: 0%;
top: 3.32%;
bottom: 2.77%;
background: #C4C4C4;
} */
/* .aboutme{
  position: absolute;
width: 343px;
height: 361px;
left: 16px;
top: 381px;
} */
/* .icons {
  position: absolute;
  width:350px;
  height: 30px;
  left: 32px;
  top: 304px;
} */
/* i{
margin: 15px;
  width: 30px;
  height: 30px;
} */
/* .under-title {
  position: absolute;
  width: 239px;
  height: 41px;
  left: 32px;
  top: 210px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;
} */
